<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Prompt-SemiBoldItalic.ttf</string>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-MediumItalic.ttf</string>
		<string>Prompt-Medium.ttf</string>
		<string>Prompt-Italic.ttf</string>
		<string>Prompt-ExtraBold.ttf</string>
		<string>Prompt-ExtraBoldItalic.ttf</string>
		<string>Prompt-BoldItalic.ttf</string>
		<string>Promt-Regular.ttf</string>
		<string>Prompt-Bold.ttf</string>
	</array>
	<key>com.apple.developer.family-controls</key>
	<string>true</string>
</dict>
</plist>
